header .nav-link {
  color: white !important; 
  font-weight: bold;
  transition: color 0.3s ease;
}

header .nav-link:hover {
  color: black !important; /* Change color to gold on hover */
}

.btn {
  background-color: white !important; 
  border-color: black !important;
  color: black !important;
}

.btn-outline {
  border-color: black !important;
  color: black !important;
}

.btn-outline:hover {
  background-color: white !important;
  color: black !important;
}

body {
  background-color: #0B9719 !important;
}

.mortgage-container {
  margin-top: 50px;
}

.quote-box {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  height: 250px;
}

.quote-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.quote-text {
  margin-top: 15px;
  font-size: 1rem;
  color: #333;
}

.save-btn {
  margin-top: 30px;
}


